# ignore
.DS_Store
.Rhistory
.Rproj.user
.snakemake
 
# tmp files
scratch/
*tmp
tmp*
*tmp*

# Result of running docker image locally. Should not be tracked
.rstudio/

analyses/survival/input/2023-05-10-histologies-base-adapt.tsv
